@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway)");
@import url(montserrat/stylesheet.css);
* {
  box-sizing: border-box; }

body {
  background-color: #efefef;
  font-size: 10px;
  font-family: "Montserrat Light", sans-serif; }

b, strong {
  font-family: "Montserrat Bold", sans-serif; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

/* HEADER */
.main-header {
  width: 100vw;
  top: 0;
  padding: 2em;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 9; }

h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

#open-nav {
  display: none; }

#open-nav:checked ~ .main-nav {
  display: block;
  width: 100vw;
  float: left; }

.toggle-nav, h1, .ion-search, .close-nav, .shopping-bag {
  color: #000A0F;
  font-size: 3em;
  cursor: pointer; }

.close-nav {
  float: left;
  margin-left: 0.5em;
  color: #fff !important; }

.shopping-bag {
  float: right;
  margin-right: 0.5em;
  color: #fff !important; }

.registro {
  color: #fff;
  font-size: 1.5em;
  padding: 1em; }

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  padding-top: 2em;
  background-color: #000A0F;
  overflow: hidden;
  transition: 350ms;
  z-index: 10; }
  .main-nav ul {
    clear: both;
    margin: 3em 0; }
  .main-nav ul a {
    display: block;
    padding: 1em;
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
    border-bottom: solid 1px #fff; }

/* CONTAINER */
.main-container {
  margin-top: 7em; }

.intro {
  height: 100vh;
  background-image: url("../images/pattern.png");
  background-attachment: fixed;
  background-size: cover; }

.intro-layover {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff; }

.intro-center {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -35vw;
  width: 70vw;
  text-align: center; }
  .intro-center form input[type=text] {
    width: 100%;
    text-align: center;
    font-family: "Montserrat Light", sans-serif;
    padding: 0.5em;
    font-size: 1.5em; }

h2 {
  font-size: 2.5em;
  text-shadow: 2px 2px 0px #000A0F;
  z-index: 100000;
  margin: inherit auto; }
  h2 span {
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 2px 2px 0px #000A0F;
    font-size: 1.2em; }

.product {
  margin: 15px 0;
  padding: 0 15px; }

.main-footer {
  background-color: red;
  border-radius: 10px 10px 0 0; }

.main-footer a {
  display: block;
  border-bottom: solid 1px #fff;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase; }
